<div class="row">
    <div class="col-sm-12">
        {% if uid > 0 %}
            User Logged in with {{ uid }}
        {% else %}

            <form action="/login" method="post">
                <input type="email" size="40" maxlength="250" name="email" placeholder="E-Mail Address" class="form-control"><br />
                <input type="password" size="40"  maxlength="250" name="password" placeholder="Password" class="form-control"><br />
                <input type="submit" value="Login" class="form-control">
            </form>
            <br />
            <hr />
            <br />
            <form action="/register" method="post">
                <input type="email" size="40" maxlength="250" name="email" placeholder="E-Mail Address" class="form-control"><br />
                <input type="password" size="40"  maxlength="250" name="password" placeholder="Password" class="form-control"><br />
                <input type="password" size="40" maxlength="250" name="password2" placeholder="Repeat password" class="form-control"><br />
                <input type="submit" value="Register" class="form-control">
            </form>
        {% endif %}
    </div>
    <div class="col-sm-12">
        Another Block
    </div>
</div>
